div.modal-content {
  background-image: linear-gradient(to right, rgb(16, 15, 15), rgb(37, 35, 35));
}

div.modal-header h1 {
  text-align: center;
  width: 100%;
  color: rgb(192, 187, 187);
  margin-left: 50px;
}

form#newCharacterForm {
  display: flex;
flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  justify-content: center;
  
}

form#newCharacterForm label {
  color: rgb(192, 187, 187);
}

input#nameInput {
  width: 80%;
  border: 1px solid rgb(151, 147, 147);
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
}
input#ageInput {
  width: 80%;
  border: 1px solid rgb(175, 174, 174);
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
}
select#houseInput {
  width: 80%;
  border: 1px solid rgb(175, 174, 174);
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
  color: rgb(95, 93, 93);
}

form#newCharacterForm button {
  width: 50%;
  border: 1px solid rgb(175, 174, 174);
  border-radius: 6px;
  margin: 50px 5px;
  padding: 10px;
  background-color: white;
  color: rgb(95, 93, 93);
}
form#newCharacterForm button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.1s ease;
  font-weight: 600;
}

form#newCharacterForm Label {
  width: 80%;
}

.owl-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

img.owl-img {
  width: 200px;
  opacity: 0.6;
}
