* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

.hogwartsHouseCrests {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin: 25%;
  margin-top: 10%;
}

.card {
  margin: 15px;
}

.card-img img {
  transition: 0.5s ease;
}

.card-img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s ease;
}
